export(catinfo)
export(catnames)
export(epoch2dtime)
export(latest_questions)
export(latest_tags)
export(nanswers)
export(nquestions)
export(taginfo)
export(tagnames)
importFrom(httr,GET)
importFrom(httr,content)
