export(catinfo)
export(catnames)
export(count_answers)
export(count_questions)
export(epoch2dtime)
export(latest_questions)
export(latest_tags)
export(questions_in)
export(taginfo)
export(tagnames)
importFrom(httr,GET)
importFrom(httr,content)
